#box{
    border-style: solid;
    border-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.start{
    background-image: url('images/shower.png');

}

.wash{
    background-image: url('images/washing.png');

}

.enjoy{
    background-image: url('images/happy.png');

}

#countdown{
    font-size: 90px;
}

#start_btn{
    font-size: 50px;
}