#box{
    border-style: solid;
    border-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.start{
    /*background-image: url('images/shower.png');*/
    background-color: rgb(244, 244, 151);

}

.wash{
    /*background-image: url('images/washing.png');*/
    background-color: rgb(151, 216, 244);

}

.enjoy{
    /*background-image: url('images/happy.png');*/
    background-color: rgb(151, 244, 165);

}

#countdown{
    font-size: 90px;
}

#start_btn{
    font-size: 50px;
}